body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    color: #333;
}

h2 {
    color: #333;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

section {
    width: 30%; /* Adjust based on preference and screen size */
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
}

th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:hover {
    background-color: #f5f5f5;
}

.avg-value {
    font-size: 20px; /* Larger font size for the average value */
    font-weight: bold;
    display: block; /* Ensures it starts on a new line */
    margin-top: 5px; /* Optional: Adds some space above the average value */
}
