<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
</head>

<body>

  {% include 'navbar/navbar.html' %}

<div id="wrapper">
  
  <div class="row full-width">
    <h2>Sleep Cycle</h2>
</div>
<div class="row">
    <div class="column full-width">
        <div class="sleep_cycle"></div>
    </div>
</div>

{% for prediction in predictions %}
<tr>
  <td>{{ prediction.pressure }}</td>
  <td>{{ prediction.motion }}</td>
  <td>{{ prediction.sleep }}</td>
  <td>{{ prediction.timestamp }}</td>
</tr>
{% endfor %}

<div class="row">
    <div class="column">
        <h2>Heart Rate</h2>
        <div class="heart_rate"></div>
    </div>

    <div class="column">
        <h2>Pressure</h2>
        <div class="pressure"></div>
    </div>
</div>

</div>

</body>
</html>